Read .nc files

In [1]:
import xarray as xr

# Open the NetCDF file
file_path = r"D:\IPMA\Results\co_fire_meteo_Iberia.nc"
ds = xr.open_dataset(file_path)

# Display the dataset's structure and metadata
print("Dataset Overview:\n")
print(ds)

# List all variables in the dataset
print("\nAvailable Variables:")
for var in ds.variables:
    print(f"- {var}: {ds[var].dims}, {ds[var].shape}")

Dataset Overview:

<xarray.Dataset> Size: 3GB
Dimensions:                     (latitude: 43, longitude: 65, time: 8030)
Coordinates:
  * latitude                    (latitude) float64 344B 34.5 35.25 ... 66.0
  * longitude                   (longitude) float64 520B -12.0 -11.25 ... 36.0
  * time                        (time) datetime64[ns] 64kB 2003-01-01 ... 202...
Data variables: (12/17)
    Mean                        (latitude, longitude, time) float64 180MB ...
    Median                      (latitude, longitude, time) float64 180MB ...
    Std                         (latitude, longitude, time) float64 180MB ...
    Max                         (latitude, longitude, time) float64 180MB ...
    Min                         (latitude, longitude, time) float64 180MB ...
    Total                       (latitude, longitude, time) float64 180MB ...
    ...                          ...
    precip_Max                  (latitude, longitude, time) float64 180MB ...
    precip_Total_Precipitation  (latitude, longitude, time) float64 180MB ...
    temp_Mean                   (latitude, longitude, time) float64 180MB ...
    temp_Max                    (latitude, longitude, time) float64 180MB ...
    wind_Mean                   (latitude, longitude, time) float64 180MB ...
    wind_Max                    (latitude, longitude, time) float64 180MB ...

Available Variables:
- Mean: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- Median: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- Std: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- Max: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- Min: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- Total: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- latitude: ('latitude',), (43,)
- longitude: ('longitude',), (65,)
- time: ('time',), (8030,)
- fire_binary_Iberia: ('time', 'latitude', 'longitude'), (8030, 43, 65)
- fire_label_Iberia: ('time', 'latitude', 'longitude'), (8030, 43, 65)
- frp_sum_Iberia: ('time', 'latitude', 'longitude'), (8030, 43, 65)
- frp_count_Iberia: ('time', 'latitude', 'longitude'), (8030, 43, 65)
- precip_Mean: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- precip_Max: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- precip_Total_Precipitation: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- temp_Mean: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- temp_Max: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- wind_Mean: ('latitude', 'longitude', 'time'), (43, 65, 8030)
- wind_Max: ('latitude', 'longitude', 'time'), (43, 65, 8030)

View nc file in table

In [ ]:
import xarray as xr
import pandas as pd

# Open the NetCDF file
nc_file = r"D:\IPMA\Results\co_fire_meteo_Iberia.nc"
ds = xr.open_dataset(nc_file)

# Convert all variables to a DataFrame
df = ds.to_dataframe().reset_index()

# Display the first few rows
print(df.head())

df

   latitude  longitude       time  Mean  Median  Std  Max  Min  Total  \
0      34.5      -12.0 2003-01-01   NaN     NaN  NaN  NaN  NaN    NaN
1      34.5      -12.0 2003-01-02   NaN     NaN  NaN  NaN  NaN    NaN
2      34.5      -12.0 2003-01-03   NaN     NaN  NaN  NaN  NaN    NaN
3      34.5      -12.0 2003-01-04   NaN     NaN  NaN  NaN  NaN    NaN
4      34.5      -12.0 2003-01-05   NaN     NaN  NaN  NaN  NaN    NaN

   fire_binary_Iberia  fire_label_Iberia  frp_sum_Iberia  frp_count_Iberia  \
0                 NaN                NaN             NaN               NaN
1                 NaN                NaN             NaN               NaN
2                 NaN                NaN             NaN               NaN
3                 NaN                NaN             NaN               NaN
4                 NaN                NaN             NaN               NaN

   precip_Mean  precip_Max  precip_Total_Precipitation  temp_Mean  temp_Max  \
0          NaN         NaN                         NaN        NaN       NaN
1          NaN         NaN                         NaN        NaN       NaN
2          NaN         NaN                         NaN        NaN       NaN
3          NaN         NaN                         NaN        NaN       NaN
4          NaN         NaN                         NaN        NaN       NaN

   wind_Mean  wind_Max
0        NaN       NaN
1        NaN       NaN
2        NaN       NaN
3        NaN       NaN
4        NaN       NaN

,latitude,longitude,time,Mean,Median,Std,Max,Min,Total,fire_binary_Iberia,fire_label_Iberia,frp_sum_Iberia,frp_count_Iberia,precip_Mean,precip_Max,precip_Total_Precipitation,temp_Mean,temp_Max,wind_Mean,wind_Max
0,34.5,-12.0,2003-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,34.5,-12.0,2003-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,34.5,-12.0,2003-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,34.5,-12.0,2003-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,34.5,-12.0,2003-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22443845,66.0,36.0,2024-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22443846,66.0,36.0,2024-12-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22443847,66.0,36.0,2024-12-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22443848,66.0,36.0,2024-12-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22443849,66.0,36.0,2024-12-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

: